ion-content {
    --background: var(--ion-color-light-tint);
    ion-list {
        --background: var(--ion-color-light-tint);
        ion-item {
            cursor: pointer;
            --background: var(--ion-color-light-tint);
            ion-label {
                font-family: 'Open Sans';
                font-size: 0.9rem;
            }
        }
    }
}