@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserratalternates-regular-webfont.woff2') format('woff2'), url('./fonts/montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/opensans-regular-webfont.woff2') format('woff2'), url('./fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./fonts/ubuntu-r-webfont.woff2') format('woff2'), url('./fonts/ubuntu-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'), url('./fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


// ------------------------ Searcbar styling
ion-searchbar {
    .searchbar-input-container {
        .searchbar-input {
            border-radius: 30px !important;
            // box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.1);
        }
    }
}

// ------------------------- Modals
@media screen and (min-width: 768px) {
    ion-modal {
        --border-radius: 10px!important;
    }
    .my-custom-modal-css .modal-wrapper {
        height: 90%;
    }
}

//--------------------------- Alerts
@media screen and (min-width: 768px) {
    .sc-ion-alert-md-h {
        --min-width: 300px;
        --max-width: 400px;
    }
    .alert-wrapper.sc-ion-alert-md {
        padding: 10px;
    }
}

.alert-wrapper.sc-ion-alert-md {
    border-radius: 10px;
}

// header
.alert-head.sc-ion-alert-md {
    text-align: center;
    border-bottom: 1px solid var(--ion-color-light-shade);
    margin-bottom: 20px;
    h2 {
        font-family: 'Open Sans';
        font-size: 0.8rem;
        font-weight: 600;
    }
}

// message area
.alert-input-group.sc-ion-alert-md,
.alert-message.sc-ion-alert-md {
    font-family: 'Open Sans';
    font-size: 0.9rem;
}

//buttons
.alert-button-inner.sc-ion-alert-md {
    justify-content: center;
}

.alert-button.sc-ion-alert-md {
    font-family: 'Open Sans';
    background-color: transparent;
    font-weight: 500;
    margin-bottom: 10px;
    flex-grow: 1;
    border-radius: 10px;
}

.alert-button.sc-ion-alert-md.alertYes {
    border: 1px solid var(--ion-color-primary);
    color: var(--ion-color-primary);
    margin-right: 0;
}

.alert-button.sc-ion-alert-md.alertYes:hover {
    background: rgba(56, 128, 255, 0.1);
}

.alert-button.sc-ion-alert-md.alertNo {
    border: 1px solid var(--ion-color-danger);
    color: var(--ion-color-danger);
}

.alert-button.sc-ion-alert-md.alertNo:hover {
    background: rgba(240, 65, 65, 0.1);
}

//---------------------------Error Messages
.login-error {
    margin-top: -18px;
    ion-label {
        font-family: 'Open Sans';
        font-size: 0.8rem;
        color: red;
    }
}

.error-field-message {
    margin-top: -8px;
    padding-left: 15px;
    ion-label {
        font-family: 'Open Sans';
        font-size: 0.8rem;
        color: red;
    }
}

.error-field {
    border: 1px solid var(--ion-color-danger) !important;
}

//---------------------------Pagination
table {
    margin-bottom: 0 !important;
    tfoot {
        tr {
            border-top: hidden;
            border-bottom: 0.5px;
            color: var(--ion-color-medium);
            td {
                padding: 10px 0 0 0 !important;
            }
        }
        pagination {
            .pagination {
                margin-bottom: -15px;
                .page-link {
                    color: var(--ion-color-primary);
                }
                .page-item.active .page-link {
                    background-color: var(--ion-color-primary);
                    border-color: var(--ion-color-primary);
                }
            }
        }
        ion-item {
            --min-height: 40px;
            width: 215px;
            font-size: 0.8rem;
            label {
                font-family: 'Open Sans';
            }
            .form-control {
                margin-left: 5px;
                margin-top: -5px;
                width: 80px;
                font-size: 0.8rem;
                color: var(--ion-color-medium);
                font-family: 'Open Sans';
            }
        }
    }
}
/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";