ion-content {
    --background: #b3cbe0;

    #headerTitle {
        background-color: #005099;
        box-shadow: 2px 2px 5px rgb(104, 97, 97);

        ion-item {
            width: 50%;
            --background: transparent;
            margin: 0 auto 0 auto;

            ion-avatar {
                width: 3.5rem;
                height: 3.5rem;
            }

            h1 {
                margin-top: 0;
                color: white;
                font-size: 2rem;
                font-weight: bolder;
                text-shadow: 1px 1px 2px;
                font-family: "Montserrat";
                display: inline-block;
            }
        }

        .date {
            font-size: 1rem;
            font-family: cursive;
            padding-bottom: 5px;
        }
        ion-label {
            font-family: "Open Sans";
            font-size: 1.3rem;
            margin: 0 auto;
            color: white;
        }

       
    }

    ion-list {
        background-color: #b3cbe0;
        margin-top: 5px;

        ion-card {
            width: 60%;
            margin: 10px auto;
            border-radius: 10px;
            padding-bottom: 5px;
            --background: white;

            ion-card-header {
                font-family: "Open Sans";
                font-weight: bolder;
                font-size: 1em;
            }
        }

        ion-item {
            --background: transparent;
            --highlight-height: 0;
            --background-activated: transparent;
            --background-focused: transparent;
            --background-hover: transparent;

            ion-label {
                font-family: "Open Sans";
                font-weight: 200;
            }

            ion-input,
            ion-select {
                font-family: "Open Sans";
                font-size: 0.9rem;
                border: 1px solid var(--ion-color-light-shade);
                margin-top: 10px;
                margin-bottom: 5px;
                border-radius: 4px;
                --padding-start: 10px;
            }

           span {
                color: red;
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    #headerTitle ion-grid ion-item {
        width: 100%;
        margin: 0;
    }

    #headerTitle ion-grid ion-item h1 {
        font-size: 1.1rem;
    }

    #headerTitle ion-grid ion-label {
        font-size: 0.9rem;
    }

    ion-content {
        ion-list {
            ion-card {
                width: 90%;
            }

        }
    }
}

@media screen and (max-width: 736px) {
    #headerTitle ion-grid ion-item {
        width: 100%;
        margin: 0;
    }

    #headerTitle ion-grid ion-item h1 {
        font-size: 1.1rem;
    }

    #headerTitle ion-grid ion-label {
        font-size: 0.9rem;
    }

    ion-content {
        ion-list {
            ion-card {
                width: 90%;
            }

        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #headerTitle ion-grid ion-item {
        width: 50%;
        margin: 0 auto 0 auto;
    }

    #headerTitle ion-grid ion-item h1 {
        font-size: 1.2rem;
    }

    #headerTitle ion-grid ion-label {
        font-size: 1rem;
    }

    ion-content {
        ion-list {
            ion-card {
                width: 90%;
            }

        }
    }
}